.pago-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    background-color: antiquewhite;
    color: black;
  }
  
  .pago-header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .pago-back {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    color: #e0e0e0;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pago-back:hover {
    background-color: rgb(0, 0, 140);
  }
  
  .pago-back-icon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  .pago-title {
    color: white;
    text-align: center;
    flex-grow: 1;
    margin-left: -75px;
  }
  
  .pago-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }
  
  .pago-image-placeholder {
    background-color: #ddd;
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .pago-image-placeholder img {
    width: 100%;
    height: auto;
  }
  
  .pago-instruction {
    margin-top: 20px;
    text-align: center;
  }
  
  .pago-whatsapp-icon {
    font-size: 48px;
    color: #25D366;
    margin-top: 10px;
    cursor: pointer;
  }
  