.reference-header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.3s;
}

.reference-header h1 {
color: white;
flex-grow: 1;
text-align: center;
margin: 0;
}

.reference-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: #e0e0e0;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reference-home:hover {
background-color: rgb(0, 0, 140);
}

.reference-home-icon {
font-size: 24px;
margin-right: 8px;
}

.reference-container {
padding: 40px;
margin-top: 150px; 
}

#referenceForm {
display: flex;
flex-direction: column;
gap: 20px;
background-color: rgba(128, 128, 128, 0.452);
padding: 40px;
border: 1px solid #ddd;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-width: 500px;
margin: 0 auto;
}

#referenceForm label {
font-weight: 700;
margin-bottom: 5px;
color: #333;
}

#referenceForm input {
padding: 12px;
border-radius: 5px;
border: 1px solid black;
font-size: 16px;
}

#referenceForm button {
padding: 12px 25px;
margin-top: 20px;
background-color: green;
color: white;
border-radius: 5px;
border: none;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
}

#referenceForm button:hover {
background-color: rgb(4, 184, 4);
}