.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.3s;
}

.header .logo-verproductos {
  width: 100px;
  height: auto;
  position: relative;
  left: 450px;
  background-color: transparent;
}

.header .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: #e0e0e0;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header .home:hover {
  background-color: rgb(0, 0, 140);
}

.header .home-icon {
  font-size: 24px;
  margin-right: 8px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 10px;
  position: relative;
  top: 140px; 
  width: 100%;
}

.nav-tabs {
  display: flex;
}

.nav-tabs button {
  background-color: #1565C0;
  border: none;
  border-radius: 5px;
  padding: 0px 75px;
  margin: 0 41px;
  cursor: pointer;
  color: black;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 150px; 
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-info {
  margin-top: 10px;
}

.product-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.product-buttons button {
  padding: 10px 25px;
  margin: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-view {
  background-color: #00bfff;
  color: black;
}

.btn-view:hover {
  background-color: #007acc;
}

.btn-order {
  background-color: #32cd32;
  color: black;
}

.btn-order:hover {
  background-color: #228b22;
}
